html {
    box-sizing: border-box; /* Code to respect the width of the element when adding padding or margin */
    font-size: 62.5%; /* Convert 1REM to 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Global */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease;
    text-align: center;
}

.btn:hover {
    background-color: #769c02;
}

/* Utilities */

.text-center {
    text-align: center;
}

.max-width-30 {
    max-width: 30rem;
}

/* Header and navigation */

.website-name {
    margin-top: 5rem;
    text-align: center;
}

.website-name span {
    color: #037bc0;
}

.nav-container {
    border-top: .1rem solid #e1e1e1;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.hero {
    background-image: url("../images/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* Categories */

.categories {
    padding-top: 5rem;
}

.category a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

.category a:hover {
    background-color: #037bc0;
    color: #fff;
    border-radius: 0 0 1rem 1rem;
}

.categories-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* About us */

.about-us {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../images/nosotros.jpg);
    padding: 10rem 0 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-position: left center;
}

/* .about-us-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
}

.about-us-text {
    grid-column: 2 / 3;
} */

.about-us-grid {
    display: flex;
    justify-content: flex-end;
}

.about-us-text {
    flex-basis: 50%;
    padding-left: 4rem;
    color: #fff;
}

/* Products list */

.main-container {
    padding-top: 5rem;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.product:nth-child(1) img {
    height: 43rem;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}

.product:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product:nth-child(2) img,
.product:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.product:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.product:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}

.product:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.product:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.product:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}

.product {
    background-color: #037bc0;
}

.product-text {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.product-text p {
    margin: 0 0 .5rem 0;
}

.product-text .product-price {
    font-size: 2.8rem;
    font-weight: 900;
}

/* Footer */

.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.site-footer h3 {
    margin-bottom: .5rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.site-footer a {
    display: block;
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}

/* About us */

.about-us-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* responsive */
    column-gap: 4rem;
}

.about-us-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Blog */

.blog-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.article {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.article:last-of-type {
    border: none;
}

.article-meta {
    display: flex;
    justify-content: space-between;
}

.article-meta p {
    font-weight: 700;
}

.article-meta span {
    color: #037bc0;
}

.article-detail {
    width: 60rem;
    margin: 0 auto;
}